@font-face {
  font-family: brolimo;
  src: url("font/Brolimo.ttf");
}
@font-face {
  font-family: letter magic;
  src: url("font/Letter Magic.ttf");
}
@font-face {
  font-family: cigra;
  src: url("font/Cigra.ttf");
}
body {
  background-image: url("image/first.png");
  background-size: cover;
  color: white !important;
  font-family: brolimo !important;
}

header, nav, ul {
  display: flex;
}

nav, ul, .lennn {
  margin: auto;
}

.underlineone {
  /* display: flex */
  width: 25%;
  margin-left: 70px;
  margin-top: -45px;
  margin-bottom: 55px;
}

.underlinetwo {
  width: 25%;
  margin-left: 69%;
  margin-top: -55px;
  margin-bottom: 10vh;
}

li {
  padding: 2em;
  list-style: none;
}

.nav-link {
  font-family: brolimo;
  color: white !important;
  text-decoration: none !important;
  font-size: 1.7em !important;
}

.gambar_profile {
  margin-left: 4%;
  position: absolute;
}

.person {
  position: absolute;
  height: 120vh;
  margin-top: -20vh;
  margin-left: 3%;
  z-index: 1;
}

.whiteboard {
  height: 100vh;
  margin-left: 45%;
}

.lennn {
  padding-left: 3%;
  height: 20vh;
}

.text {
  text-align: justify;
  font-size: 1.6em;
  width: 40%;
  margin-left: 50%;
  position: absolute;
}

.text img {
  height: 26vh;
  margin-top: 4vh;
}

.intro {
  line-height: 1.7em;
  margin-bottom: 9vh;
}

.education {
  margin-top: 90vh;
}

.border-education {
  border: white 1px solid;
  border-radius: 74px;
  padding: 8 49 0 36px;
  width: 35%;
  font-family: cigra;
  margin-left: 50%;
  margin-bottom: 8%;
  margin-top: -6%;
  font-size: 6.5em;
}

.schoolnameborder {
  border: white 1px solid;
  border-radius: 50px;
  font-family: cigra;
  padding: 13 10 5 15px;
  font-size: 2.5em;
}

.sub-title-mw {
  display: flex;
  margin-top: 4%;
  margin-left: 15%;
}
.sub-title-mw p {
  font-size: 1.6em;
  margin-left: 7%;
  margin-top: 25px;
}

.school-year {
  font-size: 1.6em;
  display: flex;
  margin-left: 1%;
  padding: 39px 0 39px 0;
}
.school-year div {
  padding: 0 9% 0 16%;
}
.school-year hr {
  margin-right: -10.5%;
}

.sub-title-uib {
  margin-left: 15%;
  margin-bottom: 5%;
  display: flex;
}
.sub-title-uib .borderUIB {
  border: white 1px solid;
  border-radius: 50px;
  font-family: cigra;
  width: 8%;
  padding: 10px 0 0 18px;
}
.sub-title-uib hr {
  height: 10vh;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
}
.sub-title-uib p {
  font-size: 1.2em;
  margin-top: 17px;
}

.end-education {
  width: 60%;
  margin-left: 15%;
}

.border-skill {
  border: white 1px solid;
  border-radius: 80px;
  padding: 12 49 0 24px;
  width: 20%;
  font-family: cigra;
  margin-left: 16%;
  margin-top: 5%;
  font-size: 7.5em;
}

.software {
  height: 12vh;
  margin-left: 45%;
  margin-top: -10vh;
}

.laptop-person {
  height: 100vh;
  margin-left: 8%;
  margin-top: -5%;
}

.image-skill {
  margin-left: 43%;
  margin-top: -80vh;
}
.image-skill .baris-pertama, .image-skill .text-baris1 {
  display: flex;
}
.image-skill .baris-pertama .photoshop, .image-skill .text-baris1 .photoshop {
  height: 30vh;
  margin-left: 30px;
  margin-top: -50px;
}
.image-skill .baris-pertama .blender, .image-skill .text-baris1 .blender {
  height: 15vh;
  margin-left: 60px;
}
.image-skill .baris-pertama .text-blender, .image-skill .text-baris1 .text-blender {
  margin-left: 165px;
}
.image-skill p {
  font-size: 1.5em;
  padding-right: 71px;
  margin-left: 55px;
  margin-top: -15px;
}
.image-skill .baris-kedua, .image-skill .text-baris2 {
  display: flex;
}
.image-skill .baris-kedua .Illustrator, .image-skill .baris-kedua .AdobeXD, .image-skill .text-baris2 .Illustrator, .image-skill .text-baris2 .AdobeXD {
  height: 30vh;
  margin: 25px 0 0px 30px;
}
.image-skill .baris-kedua .AdobeXD, .image-skill .text-baris2 .AdobeXD {
  margin: 30px 0 0 60px;
}
.image-skill .baris-kedua .talent, .image-skill .text-baris2 .talent {
  height: 12vh;
  margin: 55px 0 0 70px;
}
.image-skill .bahasa {
  margin-left: 35px;
  margin-top: -100px;
}

.skill-line, .project-line {
  width: 81%;
  margin-left: 160px;
  margin-top: 100px;
}

.border-project {
  border: white 1px solid;
  background-color: black;
  border-radius: 80px;
  padding: 9 49 0 36px;
  width: 28%;
  font-family: cigra;
  margin: 8% 0 8% 11%;
  font-size: 7.5em;
}

.sectionsatu {
  display: flex;
  height: 68vh;
  margin: 160px 0 50px 6%;
}
.sectionsatu img {
  height: 69vh;
}
.sectionsatu .photography {
  margin-left: 85px;
}

.sectiondua {
  display: flex;
  height: 84vh;
  margin: 10% 0 100px 4%;
}
.sectiondua img {
  height: 83vh;
}
.sectiondua .desain {
  margin-left: 85px;
}

.border-contact {
  border: white 1px solid;
  background-color: black;
  border-radius: 80px;
  padding: 9 49 0 36px;
  width: 32%;
  font-family: cigra;
  margin: 8% 0 8% 35%;
  font-size: 7.5em;
  position: absolute;
}

.glass {
  height: 80vh;
  margin-left: 7%;
  margin-top: -2%;
}

.contact-info {
  text-align: center;
  font-size: 3.5em;
  margin: -15% 0 5% 5%;
}

.findme {
  margin-left: 7%;
  font-size: 2.5em;
}
.findme .icon {
  display: flex;
}
.findme .icon .behance {
  height: 28vh;
  margin-right: 30px;
}
.findme .icon .instagram {
  height: 18.5vh;
  margin-right: 10px;
  margin-top: 20%;
}
.findme .icon .pinterest {
  height: 32vh;
  margin-top: -16%;
}
.findme hr {
  width: 60%;
}/*# sourceMappingURL=cv.css.map */